.menu {
    display: flex;
    background-color: #205129;
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    align-items: center;
}

.menu-items {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.menu-items a {
    color: whitesmoke;
    text-decoration: none;
    padding: 12px 20px;
    transition: all 0.3s ease;
}

.menu-items a:hover {
    color: #61B069;
    font-weight: 600;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
}

.menu-toggle img {
    width: 24px;
    height: 24px;
    filter: invert(0.8);
    transition: filter 0.3s ease;
}

.menu-toggle img:hover {
    filter: invert(0.6);
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        text-align: left;
        border-bottom: 1px solid #004d0a;
        width: 100%;
    }

    .menu-items {
        display: none;
        flex-direction: column;
    }

    .menu-items.active {
        display: flex;
    }

    .menu-items a {
        padding: 20px;
        border-bottom: 1px solid #004d0a;
        transition: background-color 0.3s ease;
        display: block;
    }

    .menu-items a:hover {
        background-color: #004d0a;
    }

    .menu-items li:last-child a {
        border-bottom: none;
    }
}